<div id="all">
  <form [formGroup]="urlGroup" (ngSubmit)="createLink()" novalidate>
    <div class="group">
      <label for="fullUrlInput" id="fullUrlLabel">Enter the link you want to short:</label>
      <div id="addLink">
        <input type="text" (keydown.enter)="createLink()" id="fullUrlInput" [(ngModel)]="url" placeholder="www.your-url.com" formControlName="url"/>
        <button type="submit" id="createShortUrl" class="btn btn-danger">Shorten</button>
      </div>
      <span *ngIf="!urlGroup.valid && urlGroup.touched" style="color: #dd3544">Please provide a correct url</span>



    </div>
  </form>

  <div class="spinner-border text-light" role="status" *ngIf="clicked">
    <span class="visually-hidden">Loading...</span>
  </div>
  <span *ngIf="clicked" style="margin-top: 0.5em">Loading...</span>

  <div class="group" *ngIf="shortUrl">
    <h3>Your shortened link is:</h3>
    <div>
    <img (click)="copyToClipboard()" src="assets/images/copy.svg" alt="copy-icon" id="copyIcon" class="filter-white">
    <a href="{{shortUrl}}" target="_blank" id="shortUrl">{{shortUrl}}</a>
    </div>
  </div>

  <span (click)="reset()" *ngIf="shortUrl" style="text-decoration: underline; color: #dd3544; cursor: pointer;">Short a new url</span>
  <span *ngIf="copiedToClipboard" style="color: #878ca1">Copied to clipboard</span>


</div>
