<div id="all">

  <div class="group">
    <label for="fullUrlInput" id="fullUrlLabel">Enter a link you want to shorten:</label>
    <div id="addLink">
      <input type="text" id="fullUrlInput" [(ngModel)]="url" placeholder="your-url.com"/>
      <button type="submit" (click)="createLink()" id="createShortUrl" class="btn btn-danger">Shorten</button>
    </div>
  </div>

  <span *ngIf="clicked">Generating short url</span>

  <div class="group" *ngIf="shortUrl">
    <h3>Your shortened link is:</h3>
    <div>
    <img (click)="copyToClipboard()" src="assets/images/copy.svg" alt="copy-icon" id="copyIcon" class="filter-white">
    <a href="{{shortUrl}}" target="_blank" id="shortUrl">{{shortUrl}}</a>
    </div>
  </div>


</div>
